THUNDER_VERIFY_USERNAME=rgranadosd@gmail.com
THUNDER_VERIFY_PASSWORD=Patata1!
THUNDER_VERIFY_GIVEN_NAME=Rafa
THUNDER_VERIFY_FAMILY_NAME=Granados

CONSOLE_LOCAL_PORT=3000
API_LOCAL_PORT=9000
OTEL_LOCAL_PORT=22893
CONSOLE_DISABLE_AUTH=false

GATEWAY_CONNECTOR_ENABLED=true
GATEWAY_CONNECTOR_API_KEY=
GATEWAY_CONNECTOR_LOCAL_PORT=19243
GATEWAY_CONNECTOR_REMOTE_PORT=9243
GATEWAY_CONNECTOR_NAMESPACE=wso2-amp
GATEWAY_CONNECTOR_SERVICE=amp-api-gateway-manager
GATEWAY_CONNECTOR_WS_PATH=/api/internal/v1/ws/gateways/connect
GATEWAY_CONNECTOR_PYTHON_BIN=python3
GATEWAY_CONNECTOR_VENV_DIR=.amp-local/gateway-connector-venv
GATEWAY_CONNECTOR_AUTO_SETUP=true

CLUSTER_NAME=amp-local
PODMAN_MACHINE_NAME=podman-machine-default
WAIT_TIMEOUT_SECONDS=600